.card{
    max-width:100%;
    width: 300px;
    height:30%;
    box-shadow: 5px 5px 10px #ccc;
}
.card:hover{
    box-shadow: 10px 10px 20px #ccc;
}
.cardHeader{
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    margin-bottom: 5px;
    justify-content: space-between;
    display: flex;
}
.icon{
    align-items: center;
    display: flex;
    gap: 15px;
}